<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smart Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-icon style="font-size: 68px;" name="bulb-outline"></ion-icon>
      <br>
     <b style="font-size: 16px;">Συμβουλή:</b> 
    <br> 
    <br>
    Το σύστημα στέλνει τις ειδοποιήσεις αυτόματα σε εναν σχετικό ιδιωτικό Twitter λογαργιασμό.
    </ion-card-content>
  </ion-card>
  <ion-button style="margin-left: 10px; margin-right: 10px;" expand="block" href="https://twitter.com/AlertsHome">Δειτε τις ειδοποιησεις</ion-button>
</ion-content>
