<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smart Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-list lines="none">
        <ion-item>
          <ion-label style="font-weight: bolder;">Εφαρμογή από</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Θεμιστοκλής Μπολτσής</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="font-weight: bolder;">Πτυχιακή εργασία των</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Θεμιστοκλής Μπολτσής & Βασίλης Γκανάτσιος</ion-label>
          </ion-item>
          <hr>
          <hr>
          <ion-item>
            <ion-label>Έκδοση': 1.0.0</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>© 2020 Πανεπιστήμιο Μακεδονίας</ion-label>
          </ion-item>
    </ion-list>
  
    
  </ion-content>
  <ion-footer>
    <ion-button expand="block" style="margin: 10px;" href="mailto:app@unboxholics.com">Report a Bug</ion-button>
  </ion-footer>
  
</ion-content>
